<div class="offer-details">
  <div>
    <div class="product">
      <span class="label">Product code: </span>
      <span class="code"> {{(offerResponse$ | async)?.data.admissions[0].products[0].code}} </span>
      <span class="description"> {{(offerResponse$ | async)?.data.admissions[0].products[0].description}}</span>
    </div>

    <div class="conditions">
      <div class="label" >Conditions:</div>
      <ul *ngFor="let condition of (offerResponse$ | async)?.data.admissions[0].products[0].conditions">
        <li>{{condition.condition}}</li>
      </ul>
    </div>
  </div>
</div>
